@import 'nib'

.bomTimeLineWrap
	clearfix();
	width 80px
	float: left;

.bomTimeLineWrap.hasRuler
	width 140px

.bomRuler
	width: 60px
	float: left
	text-align: center

.bomTimeLineWrap.even .bomTimeLine{
	background-color: #f3f3f3;
}

.bomTimeLine
	width 80px
	float: left

.bomTimeLine .bomHour
	border-top 1px solid #777

.bomTimeLine .bomMin._15, .bomTimeLine .bomMin._45
	border-bottom 1px dashed #ddd

.bomTimeLine .bomMin._30
	border-bottom 1px solid #ccc



