@import 'nib'
@import 'nib/gradients'

.bomTimeLine
	width 80px
	margin-top: 10px

.bomTimeLine .bomHour
	border-top 1px solid #777

.bomTimeLine .bomMin._0-15, .bomTimeLine .bomMin._30-45
	border-bottom 1px dashed #ddd

.bomTimeLine .bomMin._15-30
	border-bottom 1px solid #ccc



